* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.card {
    padding:1rem;
    margin: 1rem;
    background-color: rgb(227, 245, 245); 
}

#binary-card {
    background-color: rgb(116, 212, 236); 
}

/* #binary-card::before {
    background-image: url("images/binary-86218_1920.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
} */

input {
    margin: .15rem 0 0 0;
}

img {
    opacity: 0.5;
}

h1 {
    font-family: 'Gugi', cursive;
}

h5, h6 {
    font-size: 1.5rem;
    color: white;
}

hr { 
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 
  hr:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }

form, #decimalNum, #binaryNum {
    font-size: 1.7rem;
    padding: 0 0.25rem;
    margin: .15em 0 0 0;
}

#binarySubmit, #decimalSubmit {
    width: 6rem;
    margin: 1.5rem 0;
}

#decimalSubmit {
    background-color: rgb(141, 108, 24);
    border: rgb(148, 108, 24);
}


#decimalSubmit:hover {
    background-color:darkgoldenrod;
}

#decimalNum, #binaryNum {
border-style: solid;
border-width: 1px;
background-color: white;
}

#decimalNum {
    height: 2.625rem;
    width: 15rem;
}

#binaryNum {
    height: 5.5rem;
    width: 25rem;
}

.inputError {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: red;
font-weight: bold;
background-color: rgb(245, 229, 229);
}

button {
    font-size: 1.25rem;
}
